@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Walid SAKHANA<br />
    Sousse, TUNISIA<br />
    <abbr title="Phone">P:</abbr>
    +216 50 59 56 61
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:walidsakhana88@gmail.com">walidsakhana88@gmail.com</a><br />
</address>